.container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Mantén el aspect ratio */
  perspective: 1000px;
}

.book {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease; /* transición suave */
}

.page {
  position: absolute;
  width: 50%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 1s ease; /* transición suave */
}

.page img {
  width: 100%; /* La imagen se ajusta al ancho del contenedor */
  height: 100%; /* La imagen se ajusta a la altura del contenedor */
}

.page:first-child {
  left: 0;
}

.page:last-child {
  right: 0;
}

@media only screen and (max-width: 768px) {
  .page {
      width: 100%; /* En pantallas pequeñas, las páginas ocupan todo el ancho */
  }
}
